*{
margin:0;
padding:0;
box-sizing:border-box;
}

main{
display:flex;
height:100vh;
flex-direction:column;
align-items:center;
justify-items:center;
gap:5vh;
}

button{
width: 150px;
height:100px;
background-color:#0a0909;
font-weight:500;
font-size:25px;
color:rgb(255, 255, 255);
border-radius:10px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}